# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Migrations (optional for personal projects)
*/migrations/*
!*/migrations/__init__.py

# Static build files
staticfiles/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
htmlcov/
.coverage